<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione eum ipsum unde sit ea in necessitatibus nostrum dolores sed. Eligendi nostrum quae odio omnis accusamus in amet aut excepturi similique.

        </p>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>